* {
margin: 0;
padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./imagenes/thumb-1920-1020613.jpg");
    background-size: cover;
    background-position: center;
  }

#game-area {
    width: 80vw;
    height: 80vh;
    background-color: rgba(206, 206, 206, 0.493);
    position: relative;
}

#snake {
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url("./imagenes/serpiente1.png");
    background-size: cover;
    background-position: center;
}

#enemy {
    width: 80px;
    height: 80px;
    position: absolute;
    background-image: url("./imagenes/aguila.png");
    background-size: cover;
    background-position: center;
}

#food {
    width: 40px;
    height: 40px;
    position: absolute;
    background-image: url("./imagenes/dboc16e-6486966f-c438-41f4-bce5-52dcb56934b0.png");
    background-size: cover;
    background-position: center;
}

#score {
    position: absolute;
}

#game-over {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    font-size: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}