* {
margin: 0;
padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

#game-area {
    width: 80vw;
    height: 80vh;
    background-color: rgb(0, 0, 0);
    position: relative;
}

#snake {
    background-color: rgb(7, 165, 2);
    width: 40px;
    height: 40px;
    position: absolute;
    background-image: url("./7e43c64edabc048.png");
    background-size: cover;
    background-position: center;
}

#food {
    background-color: rgb(255, 0, 0);
    width: 40px;
    height: 40px;
    position: absolute;
}